<div class="page-width">
    <ul class="collection-tags tags__wrapper">
        {% for tag in collection.all_tags %}
            {% if current_tags contains tag %}
                  <li class="tags__item active">{{ tag | link_to_remove_tag: tag }}</li>
            {% else %}
                  <li class="tags__item">{{ tag | link_to_add_tag: tag }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% schema %}
{
    "name": "Collection Tags",
    "class": "index-section--flush"
}
{% endschema %}