{{ "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js" | script_tag }}


<div id="order-video-container" class="container"></div>

<script id="order-video-template" type="text/html">
    <video id="order-video" controls crossorigin playsinline>
        <source 
        src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" 
        type="video/mp4"
        size="720" />
    </video>
</script>

{{ "https://cdn.plyr.io/3.5.10/plyr.js" | script_tag }}
<script>
const customTags = [ '<%', '%>' ];
const container = document.querySelector('#order-video-container');
const template = document.querySelector('#order-video-template').innerHTML;

document.addEventListener("DOMContentLoaded", function() {
    console.log('test')
    function renderOrder() {
        const output = Mustache.render(template, {}, {}, customTags);
        container.insertAdjacentHTML('afterbegin', output);
    };

    renderOrder();
})

const player = new Plyr('#order-video');

</script>

<style>
.container {
	margin: 50px auto;
	max-width: 500px;
}
</style>

{% schema %}
{
    "name": "order-video",
    "settings": []
}
{% endschema %}